@model RequestsVM

@{
    ViewData["Title"] = "İzinler";
}

@{
    int count = 1;
}

<h1>İZİNLER</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ÇALIŞAN AD</th>
      <th scope="col">ÇALIŞAN SOYAD</th>
      <th scope="col">İZİN TARİHİ</th>
      <th scope="col">TOPLAM GÜN</th>
      <th scope="col">İZİN AÇIKLAMA</th>
      <th scope="col">TALEP DURUMU</th>
    </tr>
  </thead>
  <tbody>

        @foreach (var item in Model.Leaves)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@item.Employee.Name</td>
                <td>@item.Employee.Surname</td>
                <td>@item.StartLeaveDate</td>
                <td>@item.TotalDaysOff</td>
                <td>@item.Description</td>
                <td>@item.ConfirmStatus</td>
            </tr>
            
            count++;
            
        }
     


  </tbody>
</table>