@model HRMP.CORE.Entities.SiteManager

@{
    ViewData["Title"] = "Profil Bilgileri";
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150" src="@Url.Content(Context.Session.GetString("picPath"))"><span class="font-weight-bold">@Html.DisplayFor(model => model.Name)</span><span class="text-black-50">@Html.DisplayFor(model => model.Email)</span><span> </span></div>
        </div>
        <div class="col-md-8 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Profil Bilgileri</h3>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">İsim</label><br />@Html.DisplayFor(model => model.Name)</div>
                    <div class="col-md-6"><label class="labels">Soyisim</label><br />@Html.DisplayFor(model => model.Surname)</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Mobile Number</label><br />@Html.DisplayFor(model => model.PhoneNumber)</div>
                    <div class="col-md-6"><label class="labels">Doğum Tarihi</label><br />@Html.DisplayFor(model => model.BirthDate)</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Cinsiyet</label><br />@Html.DisplayFor(model => model.Gender)</div>
                    <div class="col-md-6"><label class="labels">TC Kimlik No</label><br />@Html.DisplayFor(model => model.TCNo)</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Ünvan</label><br />@Html.DisplayFor(model => model.Title)</div>
                    <div class="col-md-6"><label class="labels">Adres</label><br />@Html.DisplayFor(model => model.Address)</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit">Düzenle</a>
    <a asp-action="Index">Geri Dön</a>
</div>
